<%= form_with url: user_books_search_path, method: :get do |f| %>
  <%= text_field_tag :title, @title %>
  <%= f.submit "検索" %>
<% end %>

<table>
<% if @books %>
  <% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.book_image_url %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
  </tr>
  <% end %>
<% end %>
</table>