<div class="container">
  <h3>レビュー作成</h3>
  <% @book.isbn %>

  <div style="text-align: center">
    <%= image_tag(@book.book_image_url + '?_ex=250x250', class: "img-fluid") %>
    <%= @book.title %>
  </div>

    <%= form_with model: @book, url: public_posts_path, method: :post do |f| %>
      <%= @book.errors.full_messages.inspect %>
      <%= f.hidden_field :book_image_url %>
      <%= f.hidden_field :item_url %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :author %>
      <%= f.hidden_field :isbn %>

    <%= fields_for :post do |ff| %>
      <%= ff.hidden_field :user_id, value: current_user.id %>
      <h6>感想</h6>
      <%= ff.text_area :comment,  class: 'form-control',size: "80x5" %>
      <h6>タグ</h6>
      <p>最も当てはまると思うジャンルを選択してください</p>
      <%= ff.collection_select(:tag_id, @tags, :id, :tagname) %>
      <h6>読了時間目安</h6>
      <%= ff.text_field :readingtime %>時間
      <p>1時間未満の場合は小数点で入力してください。（例）30分の場合→0.5時間</p>
    <% end %>
    <%= f.submit "レビューを作成", class: "btn btn-md btn-success" %>
  <% end %>
</div>