<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <h4><%= @post.user.name %>さんのレビュー詳細</h4>
  <% @post.book.inspect %>
  <div class="row">
    <%= image_tag @post.book.book_image_url, size: '150x200' %>
    <div class="col">
      <h3 class="mt-3"><%= @post.book.title %></h3><br>
      <h5>著者：<%= @post.book.author %></h5>
    </div>
  </div>
  <div class="row my-2">
    <%= @post.comment %>
  </div>
  <div class="row my-2">
    読了時間：<%= @post.readingtime %>時間
  </div>
  <div class="row my-2">
    ジャンル：<%= @tag.tagname %>
  </div>
  <div class="row my-2">
    <% if @post.user == current_user %>
      <%= link_to '編集', edit_public_post_path(@post.id), class: "btn btn-sm btn-success" %>
      <%= link_to '削除', public_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
    <% end %>
    </div>
  <div class="row my-2">
    <% @post.post_comments.each do |post_comment| %>
      <%= image_tag post_comment.user.get_profile_image(70,70) %>
        <%= post_comment.user.name %>さんからのコメント<%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
        <%= post_comment.comment %>
      <% end %>
  </div>
  <div class="row my-2">
    <%= form_with model: [@post, @post_comment], url: public_post_post_comments_path(@post.id) do |f| %>
      <%= f.text_area :comment, placeholder: "新しいコメントを入力" %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>