<div class="container">
  <h3>レビュー詳細</h3>
    <% @post.book.inspect %><br>
      <h5><%= @post.book.title %></h5>
      <h5><%= @post.book.author %></h5>
    <div style="text-align: center">
      <%= image_tag @post.book.book_image_url, size: '230x300' %>
    </div>
  <div class="row my-2">
    <table class="table table-striped">
      <thead>
        <th class="text-center">感想</th>
        <th class="text-center">読了時間</th>
        <th colspan="3"></th>
      </thead>
      <tbody>
        <tr>
          <td class="text-center col-9"><%= @post.comment %></td>
          <td class="text-center col-2"><%= @post.readingtime %></td>
          <td><%= link_to "削除", admin_post_path(@post.id), method: :delete,"data-confirm"=>"本当に削除しますか？" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
