<div class="container">
  <table class="table">
    <% if @books %>
      <% @books.each do |book| %>
      <tr>
        <td><%= image_tag(book.book_image_url + '?_ex=70x70') %></td>
        <td>
          <% if book.id %>
            <!--book.idが存在する時はそのbookのshowpage行きのリンク-->
            <%= link_to book.title, public_book_path(book) %>
          <% else %>
            <!--book.idが存在しない時はbookをcreateするリンク-->
            <%= link_to book.title, public_books_path(params: { book: { title: book.title, author: book.author, isbn: book.isbn, item_url: book.item_url, book_image_url: book.book_image_url }}), method: :post %>
          <% end %>
        </td>
        <td><%= book.author %></td>
        <td><% book.isbn %></td>
        <td>
          <% if current_user %>
            <%= form_with model: book, url: new_public_post_path, method: :get do |f| %>
              <%= f.hidden_field :book_image_url %>
              <%= f.hidden_field :item_url %>
              <%= f.hidden_field :title %>
              <%= f.hidden_field :author %>
              <%= f.hidden_field :isbn %>
              <%= f.submit "レビューする", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
     <% end %>
    <%= paginate @books %>
  </table>
</div>