<div class="container">
  <h3>書籍詳細</h3>
    <% @book.inspect %>
      <div>
        <%= image_tag @book.book_image_url, size: '150x200' %>
        <h3><%= @book.title %></h3>
        <h5>著者：<%= @book.author %></h5>
      </div>
   <table class="table">
      <tbody>
        <% @posts.each do |posts| %>
        <tr>
          <td><%= link_to public_user_path(posts.user) do %>
              <%= image_tag posts.user.get_profile_image(50,50) %>
              <% end %>
              <%= posts.user.name %>さんの感想</td>
            <td><%= posts.comment %></td>
            <td><%= posts.readingtime %>時間</td>
            <td><%= link_to "詳細", public_post_path(posts.id) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
