<div class="wrapper">
  <div class="container">
    <div class="row ml-5">
      <h3>会員ログイン</h3>
    </div>
        <%= form_with model: @user, url: new_user_session_path do |f| %>
          <div class="field text-center my-2">
            <%= f.label :ニックネーム %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field text-center my-2">
            <%= f.label :パスワード %><br>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field text-center my-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions text-center my-2">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>

      <h6 class="text-center my-4">会員登録がまだの方は
      <%= link_to "こちら", new_user_registration_path %>から登録してください</h6>
  </div>
</div>