<%= form_with model: @user, url: public_user_path(@user.id), method: :patch do |f| %>
<div class="container">
  <% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<h3><%= @user.name %>のユーザー情報編集</h4>
  <div class="field text-center my-2">
    <%= f.label :ニックネーム %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field text-center my-2">
    <%= f.label :プロフィール画像 %><br>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>

  <div class="field text-center my-2">
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field text-center my-2">
    <%= f.submit "保存する", class: "btn btn-sm btn-success" %>
    <%= link_to "退会する", unsubscribe_public_users_path, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
</div>