<div class="container">
  <% if @user == current_user %>
    <h3>マイページ</h3>
  <% else %>
    <h3><%= @user.name %>さんのユーザーページ</h3>
  <% end %>
    <%= image_tag @user.get_profile_image(100,100) %>
    <strong class="ml-3">ニックネーム：</strong><%= @user.name %><br>
  <div class="mt-3">
    <% if @user == current_user %>
      <%= link_to '情報を編集する', edit_public_user_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
<h4 class="mt-3">レビューした書籍</h4>
  <% if @user == current_user %>
   <%= link_to '新しく本を探す', public_books_search_path, class: "btn btn-sm btn-dark" %>
  <% end %>
  <div class="row mt-4">
    <% @books.each do |books| %>
    <div class="col">
      <%= link_to public_book_path(books.id) do %>
        <%= image_tag books.book_image_url, size: '150x200' %><br>
        <%= books.title %><br>
      <% end %>
      <%= books.author %><br>
      <%= link_to '詳細', public_post_path(posts_user_id(books.posts, @user.id)) %>
    </div>
      <% end %>
  </div>
</div>


