<div class="container">
  <h2>マイページ</h2>
  <%= @user.name %>
  <%= image_tag @user.get_profile_image(70,70) %>
  <% if @user == current_user %>
  　<%= link_to '情報を編集する', edit_public_user_path, class: "btn btn-sm btn-primary" %>
  <% end %>
<h3>レビューした書籍</h3>
 <%= link_to '新しく本を探す', public_books_search_path %>
<table>
  <thead>
    <th>タイトル</th>
    <th>著者</th>
    <th>詳細</th>
  </thead>
  <tbody>
    <% @books.each do |books| %>
    <tr>
    <td><%= books.title %></td>
    <td><%= books.author %></td>
    <td><%= link_to '詳細', public_book_path(books.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


</div>


