<!DOCTYPE html>
<html>
  <head>
    <title>Findbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/" ><strong>findbook</strong></a>
        　<ul class="nav justify-content-end">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_homes_top_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "全てのレビュー", admin_posts_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", public_user_path(current_user), class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "本を探す", public_books_search_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンルで探す", public_posts_search_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "About", public_homes_about_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "本を探す", public_books_search_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nev-item">
                <%= link_to "ジャンルで探す", public_posts_search_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
              </li>
            <% end %>
        </ul>
      </nav>
  </header>
    <%= yield %>
  </body>
</html>
