<!DOCTYPE html>
<html>
  <head>
    <title>Findbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "全てのレビュー", admin_posts_path %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "マイページ", public_user_path(current_user) %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      </nav>
      </header>
    <%= yield %>
  </body>
</html>
